.exercises {
    background-color: black;
    color: white;
    width: 400px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.exercise {
    padding: 10px 0;
    cursor: pointer;
}

.exercise:hover {
    background-color: grey;
    opacity: 0.2
}

.selected-exercise {
    background-color: grey;
    padding: 10px 0;
    cursor: pointer;
}

.search-bar {
    position: sticky;
    top: 0;
}